#bandsintown {
	background-image: url("../img/bandsintown.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	padding-top: 60px;
	padding-bottom: 60px;;
}
.artist-bio {
	color:#fff;
}
.event-table {
	background-color: rgba(255,255,255,0.5);
}